html {
    scroll-padding-top: 70px; /* height of sticky header */
}

body {
    font-family: 'Nunito', serif;
}

.card-left {
    flex-direction: row;
}

/*.card-img-left {*/
/*    display: block;*/
/*    max-width: 20%;*/
/*    max-height: 100%;*/
/*    width: auto;*/
/*    height: auto;*/
/*    border-top-right-radius: 0;*/
/*    border-bottom-left-radius: calc(0.25rem - 1px);*/
/*    object-fit: contain;*/
/*}*/

.card-img-size {
    object-fit: contain;
    height: 110px;
    width: 110px;
}